/* Titre */
h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

/* Formulaire */
form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
}

input[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0062cc;
}

/* Erreurs */
.error {
    color: #dc3545;
    font-weight: bold;
    margin-top: 10px;
}
